.name-icon,
.vector-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.name-icon {
  height: 45.12%;
  width: 49.82%;
  top: 30%;
  right: 0.79%;
  bottom: 24.88%;
  left: 49.39%;
  display: none;
}
.vector-icon {
  height: 97.56%;
  width: 35.09%;
  top: 1.22%;
  right: 64.91%;
  bottom: 1.22%;
  left: 0;
}
.manoj-bitra {
  position: absolute;
  height: 41.46%;
  width: 81.58%;
  top: 34.15%;
  left: 50.88%;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.logo {
  position: relative;
  width: 163px;
  height: 59px;
  flex-shrink: 0;
  overflow: hidden;
}
.services {
  font-weight: 500;
}
.experience,
.portfolios,
.services {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--cinder);
  text-align: left;
}
.experience {
  text-decoration: none;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-37xl);
}
.moon-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.theme-toggle {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  padding: 12px 0;
  align-items: center;
  justify-content: center;
}
.resume {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--cinder);
  text-align: left;
}
.download-resume,
.header,
.righ-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.download-resume {
  border-radius: var(--br-5xs);
  border: 1px solid var(--light-2);
  overflow: hidden;
  padding: var(--padding-base) var(--padding-5xl);
  justify-content: center;
}
.header,
.righ-content {
  justify-content: flex-start;
}
.righ-content {
  gap: var(--gap-13xl);
}
.header {
  position: absolute;
  top: 44px;
  left: 167px;
  gap: 224px;
}
.instagram-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.vector-icon1 {
  position: absolute;
  height: 91.69%;
  width: 85.22%;
  top: 4.15%;
  right: 8.33%;
  bottom: 4.15%;
  left: 6.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.github {
  text-decoration: none;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.vector-icon2 {
  position: absolute;
  height: 89.43%;
  width: 89.21%;
  top: 6.4%;
  right: 4.17%;
  bottom: 4.17%;
  left: 6.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.social-media {
  position: absolute;
  top: 265px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.description {
  position: absolute;
  top: 129px;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 538px;
}
.bitra {
  color: var(--cinder);
}
.name {
  position: absolute;
  top: 42px;
  left: 0;
  font-size: 44px;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-mediumslateblue);
}
.above-title {
  position: absolute;
  top: 2px;
  left: 32px;
  font-size: var(--font-size-xs);
  letter-spacing: 7.5px;
  line-height: 24px;
  font-weight: 500;
  color: var(--cinder-light);
  display: inline-block;
  width: 194px;
}
.above-title-line {
  border: 0;
  background-color: var(--light-4);
  position: absolute;
  top: 13px;
  left: 0;
  width: 16px;
  height: 2px;
}
.back,
.hero-text {
  position: absolute;
  top: 103px;
  left: 0;
  width: 538px;
  height: 289px;
}
.back {
  top: 80.21px;
  left: 111.88px;
  border-radius: var(--br-base);
  background-color: var(--color-mediumslateblue);
  width: 341px;
  height: 398px;
  transform: rotate(-9.55deg);
  transform-origin: 0 0;
}
.sssss-1-icon {
  position: absolute;
  top: 105px;
  left: 0;
  border-radius: var(--br-9xs);
  width: 255px;
  height: 295px;
  object-fit: cover;
}
.front,
.lines-icon {
  position: absolute;
  overflow: hidden;
}
.lines-icon {
  height: 85.79%;
  width: 118.53%;
  top: 0;
  right: -59.35%;
  bottom: 14.21%;
  left: 40.83%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.7;
}
.front {
  top: 48px;
  left: 143px;
  border-radius: var(--br-base);
  background-color: var(--purple-lighter);
  width: 336px;
  height: 400px;
}
.hero,
.hero-image {
  position: absolute;
  top: 0;
  left: 725px;
  width: 545px;
  height: 496px;
}
.hero {
  top: 159px;
  left: 85px;
  width: 1270px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--cinder);
  font-family: var(--font-inter);
}
.description1 {
  top: 169px;
  left: 57px;
  line-height: 24px;
  display: inline-block;
  width: 247px;
}
.description1,
.icon,
.title {
  position: absolute;
}
.title {
  top: 133px;
  left: 130px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  text-align: left;
}
.icon {
  top: 53px;
  left: 152.5px;
  border-radius: var(--br-base);
  background-color: var(--color-ghostwhite-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
}
.service-item {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  width: 361px;
  height: 294px;
  flex-shrink: 0;
  overflow: hidden;
}
.title1 {
  top: 129px;
  left: 82.5px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  text-align: left;
}
.items,
.title1,
.title2 {
  position: absolute;
}
.title2 {
  top: 129px;
  left: 108.5px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  text-align: left;
}
.items {
  top: 296px;
  left: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.above-title1,
.title3 {
  position: absolute;
  top: 33px;
  left: 0;
}
.above-title1 {
  top: 1px;
  left: 74px;
  font-size: var(--font-size-xs);
  letter-spacing: 7.5px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--cinder-light);
  text-align: center;
}
.section-title,
.services1 {
  position: absolute;
  top: 114px;
  left: 600px;
  width: 240px;
  height: 78px;
  text-align: left;
  font-size: var(--font-size-17xl);
  font-family: var(--font-plus-jakarta-sans);
}
.services1 {
  top: 755px;
  left: 0;
  background-color: var(--light-1);
  width: 1440px;
  height: 774px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--cinder);
  font-family: var(--font-inter);
}
.research {
  position: relative;
  font-weight: 500;
}
.link-icon,
.tag {
  position: absolute;
}
.tag {
  top: 60px;
  left: 24px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--light-2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.link-icon {
  top: 59px;
  left: 119px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.title4 {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--cinder);
}
.details {
  position: absolute;
  top: 295px;
  left: 0;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--white);
  border-right: 1px solid var(--light-3);
  border-bottom: 1px solid var(--light-3);
  border-left: 1px solid var(--light-3);
  box-sizing: border-box;
  width: 361px;
  height: 107px;
}
.portfolio-item {
  text-decoration: none;
  position: relative;
  border-radius: var(--br-5xs);
  width: 361px;
  height: 402px;
  flex-shrink: 0;
  overflow: hidden;
  background-image: url(./public/portfolio-item@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: inherit;
}
.link-icon1 {
  position: absolute;
  top: 59px;
  left: 89px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.portfolio-item1 {
  text-decoration: none;
  position: relative;
  border-radius: var(--br-5xs);
  width: 361px;
  height: 402px;
  flex-shrink: 0;
  overflow: hidden;
  background-image: url(./public/portfolio-item1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: inherit;
}
.link-icon2 {
  position: absolute;
  top: 59px;
  left: 81px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.portfolio-item2 {
  text-decoration: none;
  position: relative;
  border-radius: var(--br-5xs);
  width: 361px;
  height: 402px;
  flex-shrink: 0;
  overflow: hidden;
  background-image: url(./public/portfolio-item2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: inherit;
}
.items1,
.left {
  display: flex;
  flex-direction: row;
}
.items1 {
  position: absolute;
  top: 326px;
  left: 116px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.left {
  top: 40px;
  left: 40px;
  border-radius: var(--br-base);
  background-color: var(--purple-lighter);
  width: 40px;
  align-items: center;
  justify-content: center;
  transform: rotate(-180deg);
  transform-origin: 0 0;
  opacity: 0.5;
}
.left,
.right,
.slider-navigation {
  position: absolute;
  height: 40px;
}
.right {
  top: 0;
  left: 56px;
  border-radius: var(--br-base);
  background-color: var(--purple-lighter);
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slider-navigation {
  top: 123px;
  left: 1220px;
  width: 96px;
}
.above-title2 {
  position: absolute;
  top: 0;
  left: 32px;
  font-size: var(--font-size-xs);
  letter-spacing: 7.5px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--cinder-light);
  display: inline-block;
  width: 194px;
}
.above-title-line1 {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--light-4);
  width: 16px;
  height: 2px;
}
.portfolio,
.section-title1 {
  position: absolute;
  top: 104px;
  left: 121px;
  width: 340px;
  height: 78px;
  font-size: var(--font-size-17xl);
  color: var(--cinder);
  font-family: var(--font-plus-jakarta-sans);
}
.portfolio {
  top: 1629px;
  left: 2.5px;
  width: 1435px;
  height: 904px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--cinder-light);
  font-family: var(--font-inter);
}
.developing-an-admin,
.line {
  position: absolute;
  top: 0;
  left: 28px;
}
.line {
  top: 8.31px;
  left: 0;
  background-color: var(--light-4);
  width: 10px;
  height: 2px;
}
.responsibility-item,
.responsibility-item1 {
  position: absolute;
  top: 301px;
  left: 0;
  width: 568px;
  height: 19px;
}
.responsibility-item1 {
  top: 266px;
  width: 337px;
}
.line4,
.responsibility-item2,
.responsibility-item3 {
  position: absolute;
  top: 230px;
  left: 0;
  width: 620px;
  height: 19px;
}
.line4,
.responsibility-item3 {
  top: 194.69px;
  width: 457px;
}
.line4 {
  top: 161.54px;
  left: -0.51px;
  border-top: 1px solid var(--light-2);
  box-sizing: border-box;
  width: 780.02px;
  height: 1px;
}
.tag3,
.tag4 {
  position: absolute;
  top: 107px;
  left: 62px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--light-2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
}
.tag4 {
  left: 0;
}
.period {
  top: 67px;
  font-size: var(--font-size-sm);
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  width: 337px;
}
.job-title,
.location,
.period {
  position: absolute;
  left: 0;
}
.location {
  top: 34px;
  font-size: var(--font-size-sm);
}
.job-title {
  top: 0;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--cinder);
  display: inline-block;
  width: 389px;
  height: 26px;
}
.detail {
  position: absolute;
  top: 136px;
  left: 545px;
  width: 779px;
  height: 352px;
  color: var(--cinder-light);
}
.facebook,
.slack {
  position: absolute;
  top: 188px;
  left: 0;
  width: 281px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.facebook {
  top: 132px;
}
.new-york-institute {
  position: relative;
}
.microsoft {
  position: absolute;
  top: 76px;
  left: 0;
  width: 281px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.marketeq {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-mediumslateblue);
  text-align: left;
}
.applle {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) 32px;
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  width: 280px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.companies {
  position: absolute;
  top: 264px;
  left: 120px;
  width: 281px;
  height: 220px;
}
.above-title3,
.title8 {
  position: absolute;
  top: 35px;
  left: 0;
}
.above-title3 {
  top: 3px;
  left: 32px;
  font-size: var(--font-size-xs);
  letter-spacing: 7.5px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--cinder-light);
  display: inline-block;
  width: 275px;
}
.above-title-line2 {
  position: absolute;
  top: 14px;
  left: 0;
  background-color: var(--light-4);
  width: 16px;
  height: 2px;
}
.experience1,
.section-title2 {
  position: absolute;
  top: 104px;
  left: 120px;
  width: 288px;
  height: 80px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-plus-jakarta-sans);
}
.experience1 {
  top: 2633px;
  left: 1px;
  background-color: var(--light-1);
  width: 1438px;
  height: 610px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--cinder);
  font-family: var(--font-inter);
}
.fill,
.line5 {
  position: absolute;
  top: 33px;
  left: 0;
  border-radius: 0 var(--br-11xs) var(--br-11xs) 0;
  background-color: var(--color-ghostwhite-200);
  width: 551px;
  height: 8px;
}
.fill {
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--color-mediumslateblue);
  width: 372px;
}
.bar-item,
.fill1,
.label {
  position: absolute;
  top: 0;
  left: 0;
}
.label {
  font-weight: 500;
}
.bar-item,
.fill1 {
  width: 551px;
  height: 41px;
}
.fill1 {
  top: 33px;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--color-mediumslateblue);
  width: 352px;
  height: 8px;
}
.bar-item1,
.fill2 {
  position: absolute;
  top: 162px;
  left: 0;
  width: 551px;
  height: 41px;
}
.fill2 {
  top: 33px;
  border-radius: var(--br-11xs) 0 0 var(--br-11xs);
  background-color: var(--color-mediumslateblue);
  width: 286px;
  height: 8px;
}
.bar-item2,
.skill-bars {
  position: absolute;
  top: 81px;
  left: 0;
  width: 551px;
  height: 41px;
}
.skill-bars {
  top: 345px;
  left: 551px;
  height: 233px;
}
.description4 {
  position: absolute;
  top: 185px;
  left: 549px;
  font-size: var(--font-size-base);
  line-height: 32px;
  color: var(--cinder-light);
  display: inline-block;
  width: 584px;
}
.date,
.degree-field {
  position: absolute;
  left: 40px;
}
.date {
  top: 71px;
  font-weight: 500;
}
.degree-field {
  top: 30px;
  color: var(--cinder-light);
}
.university-name {
  position: absolute;
  top: 0;
  left: 40px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
}
.circle-icon {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
}
.education-item {
  position: relative;
  width: 325px;
  height: 88px;
  flex-shrink: 0;
}
.items2,
.line8 {
  position: absolute;
}
.items2 {
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.line8 {
  top: 47.5px;
  left: 11.5px;
  border-right: 1px solid var(--light-2);
  box-sizing: border-box;
  width: 1px;
  height: 309px;
}
.universities {
  position: absolute;
  top: 150px;
  left: 0;
  border-radius: var(--br-5xs);
  width: 401px;
  height: 480px;
}
.above-title-line3 {
  position: absolute;
  top: 10px;
  left: -0.01px;
  background-color: var(--light-4);
  width: 16px;
  height: 2px;
}
.section-title3 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 310px;
  height: 78px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-plus-jakarta-sans);
}
.education-skills,
.info-box {
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
}
.education-skills {
  position: absolute;
  top: 3343px;
  left: 153.5px;
  width: 1133px;
  height: 630px;
  text-align: left;
  color: var(--cinder);
}
.info-box {
  border: 0;
  background-color: transparent;
  top: 208px;
  left: 0;
  width: 231px;
  height: 56px;
}
.body,
.info-box,
.title10 {
  position: absolute;
}
.body {
  top: 27px;
  left: 72px;
  line-height: 24px;
  display: inline-block;
  width: 103px;
}
.title10 {
  top: 4px;
  left: 79px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--cinder);
  text-align: left;
}
.icon3,
.info-box1 {
  position: absolute;
  left: 0;
}
.icon3 {
  top: 0;
  border-radius: var(--br-base);
  background-color: var(--color-ghostwhite-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
}
.info-box1 {
  top: 104px;
  width: 184px;
  height: 56px;
}
.body1,
.title11 {
  position: absolute;
  left: 80px;
}
.body1 {
  top: 27px;
  line-height: 24px;
  display: inline-block;
  width: 324px;
}
.title11 {
  top: 4px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--cinder);
}
.info,
.info-box2 {
  position: absolute;
  width: 334px;
}
.info-box2 {
  top: 0;
  left: 0;
  height: 56px;
  text-align: left;
}
.info {
  top: 160px;
  left: 824px;
  height: 264px;
}
.contact-form,
.form {
  position: absolute;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.form {
  border: 0;
  background-color: transparent;
  height: 422px;
  font-weight: 500;
  top: 104px;
  left: 120px;
  width: 600px;
}
.contact-form {
  top: 4073px;
  left: 0;
  background-color: var(--light-1);
  width: 1440px;
  height: 660px;
  overflow: hidden;
  text-align: center;
  color: var(--cinder-light);
}
.chapter {
  font-weight: 500;
}
.copyright,
.social-media1 {
  position: absolute;
  top: 136px;
  left: 640px;
}
.social-media1 {
  top: 88px;
  left: 621px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.footer {
  position: absolute;
  top: 4833px;
  left: 3px;
  background-color: var(--white);
  width: 1434px;
  height: 241px;
}
.portfolio-devchapter {
  position: relative;
  background-color: var(--white);
  width: 1440px;
  height: 5074px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--cinder-light);
  font-family: var(--font-inter);
}
